# Preperation of Dataset as compatible to RMMS HSR Table

Load CSV file into a pandas DataFrame. Final CSV Contain Itm cd, Extracted district name and rate. those 3 columns of data has been extracted from HSR copy. Each step, i use print() function to illustrate the outcome and verify the result.

In [192]:
import pandas as pd

df = pd.read_csv('Final csv.csv')

print(df.head())

    Itmcd         district    rate
0  B0-001  AMPARA DISTRICT  2900.0
1  B0-002  AMPARA DISTRICT  2600.0
2  B0-003  AMPARA DISTRICT  2500.0
3  B0-004  AMPARA DISTRICT  2300.0
4  B0-101  AMPARA DISTRICT   100.0

In [193]:
column_name = df.columns[0]

In [194]:
print(df.shape)

(7290, 3)

This is to extract column values of district names. due to the scanning, water mark or several reason, we have to make sure all the data are in order. this step is just to check the quality of the process.

In [195]:
# Get the first column values as a list
column_values = df.iloc[:, 1].tolist()

Print the data at the end of each step is just to verify we are in the correct path.

In [196]:
# Get the unique values from the first column
column_values_unique = df.iloc[:, 1].drop_duplicates().tolist()

print(column_values_unique)

['AMPARA DISTRICT', 'BADULLA DISTRICT', 'BATTICALOA DISTRICT', 'COLOMBO DISTRICT', 'GAMPAHA DISTRICT', 'JAFFNA DISTRICT', 'KALUTARA DISTRICT', 'MONARAGALA DISTRICT', 'TRINCOMALEE DISTRICT']

In [197]:
for value in column_values_unique:
    print(value)

AMPARA DISTRICT
BADULLA DISTRICT
BATTICALOA DISTRICT
COLOMBO DISTRICT
GAMPAHA DISTRICT
JAFFNA DISTRICT
KALUTARA DISTRICT
MONARAGALA DISTRICT
TRINCOMALEE DISTRICT

This is the list of provincial codes which we are using in RMMS Template. there may be a different in extracted values and provincial code.

In [198]:
# Define the data as a list
data = [
    ['011', 'Colombo'],
    ['012', 'Gampaha'],
    ['013', 'Kalutara'],
    ['021', 'Kandy'],
    ['022', 'Matale'],
    ['023', 'Nuwara Eliya'],
    ['031', 'Galle'],
    ['032', 'Matara'],
    ['033', 'Hambantota'],
    ['041', 'Jaffna'],
    ['042', 'Vavuniya'],
    ['043', 'Mullaitivu'],
    ['051', 'Batticaloa'],
    ['052', 'Trincomalee'],
    ['061', 'Kurunegala'],
    ['062', 'Chilaw'],
    ['071', 'Anuradhapura'],
    ['072', 'Polonnaruwa'],
    ['081', 'Badulla'],
    ['082', 'Monaragala'],
    ['091', 'Ratnapura'],
    ['092', 'Kegalle'],
    ['101', 'Ampara'],
    ['102', 'Akkaraipattu']
]

# Print the dictionary
print(data)

[['011', 'Colombo'], ['012', 'Gampaha'], ['013', 'Kalutara'], ['021', 'Kandy'], ['022', 'Matale'], ['023', 'Nuwara Eliya'], ['031', 'Galle'], ['032', 'Matara'], ['033', 'Hambantota'], ['041', 'Jaffna'], ['042', 'Vavuniya'], ['043', 'Mullaitivu'], ['051', 'Batticaloa'], ['052', 'Trincomalee'], ['061', 'Kurunegala'], ['062', 'Chilaw'], ['071', 'Anuradhapura'], ['072', 'Polonnaruwa'], ['081', 'Badulla'], ['082', 'Monaragala'], ['091', 'Ratnapura'], ['092', 'Kegalle'], ['101', 'Ampara'], ['102', 'Akkaraipattu']]

In [199]:
# Convert the list to a dictionary
data_dict = {item[0]: item[1] for item in data}
print (data_dict)

{'011': 'Colombo', '012': 'Gampaha', '013': 'Kalutara', '021': 'Kandy', '022': 'Matale', '023': 'Nuwara Eliya', '031': 'Galle', '032': 'Matara', '033': 'Hambantota', '041': 'Jaffna', '042': 'Vavuniya', '043': 'Mullaitivu', '051': 'Batticaloa', '052': 'Trincomalee', '061': 'Kurunegala', '062': 'Chilaw', '071': 'Anuradhapura', '072': 'Polonnaruwa', '081': 'Badulla', '082': 'Monaragala', '091': 'Ratnapura', '092': 'Kegalle', '101': 'Ampara', '102': 'Akkaraipattu'}

Province cd is replaced in to the district name and new dataframe is created with Itemcd, ProvinceCd,Amount. this is the end of preperation of 1st csv file data frame.

In [200]:
# Define a dictionary to map unique values to new values
value_mapping = {
    'AMPARA DISTRICT' : '101' ,
    'BADULLA DISTRICT' : '081' ,
    'BATTICALOA DISTRICT' : '051',
    'COLOMBO DISTRICT' : '011',
    'GAMPAHA DISTRICT' : '012',
    'JAFFNA DISTRICT' : '041',
    'KALUTARA DISTRICT' : '013',
    'MONARAGALA DISTRICT' : '082',
    'TRINCOMALEE DISTRICT' : '052',
    }

# Replace the unique values in the first column with new values
df.iloc[:, 1].replace(value_mapping, inplace=True)

# Print the updated DataFrame
print(df)

        Itmcd district     rate
0      B0-001      101  2900.00
1      B0-002      101  2600.00
2      B0-003      101  2500.00
3      B0-004      101  2300.00
4      B0-101      101   100.00
...       ...      ...      ...
7285  MS1-067      052  4420.30
7286  MS1-068      052  5893.75
7287  MS1-069      052  4830.25
7288  MS1-070      052  7174.95
7289  MS1-071      052     7.50

[7290 rows x 3 columns]

RMMS Unitrate template is with few description columns. to complete the template, we have to merge both extracted rates and asscoiate description columns

In [201]:
df2 = pd.read_csv('hsr_temp.csv')
print(df2.head())

     Itmcd  ItmNo   GrpCd                               GrpCap  \
0  MS1-021     40     Gen                      General up keep
1   B0-114     41  RedHig  Reducing highside using motorgrader
2   B0-003     41  RedHig  Reducing highside using motorgrader
3   T1-001     41  RedHig  Reducing highside using motorgrader
4  DR1-014     42   CleDr          Cleaning drain and leadways

                                             ItmDesc  UOM       Qty
0                                     general upkeep  sqm  1.000000
1                         Motor grader (120 -140 hp)  sqm  0.000457
2                               Semiskilled - (s/sk)  sqm  0.000457
3  Transport of soil 25m to 100m by any means(inc...  sqm  0.150000
4  Cleaning desilting existing side drains and le...    m  1.000000

In [202]:
print(df)

        Itmcd district     rate
0      B0-001      101  2900.00
1      B0-002      101  2600.00
2      B0-003      101  2500.00
3      B0-004      101  2300.00
4      B0-101      101   100.00
...       ...      ...      ...
7285  MS1-067      052  4420.30
7286  MS1-068      052  5893.75
7287  MS1-069      052  4830.25
7288  MS1-070      052  7174.95
7289  MS1-071      052     7.50

[7290 rows x 3 columns]

In [203]:
shape = df.shape
print (shape)

(7290, 3)

Merge the DataFrames based on the common column 'Itmcd'.

In [204]:
merged_df = pd.merge(df, df2, on='Itmcd')

Append the "Year" column with data "2023". If you are preparing data to another year, please change the year.

In [205]:

assign = merged_df.assign(Year=2023)

In [206]:
print(assign.head())

    Itmcd district    rate  ItmNo  GrpCd                   GrpCap  \
0  B0-001      101  2900.0     55  Ferry  Operation ferry service
1  B0-001      101  2900.0     73  SndSl             Sand sealing
2  B0-001      101  2900.0     74  ChpSl             Chip sealing
3  B0-001      101  2900.0     76   SfMl          Surface milling
4  B0-001      081  3100.0     55  Ferry  Operation ferry service

               ItmDesc  UOM     Qty  Year
0  Skilled A - (sk'A')  day  1.0000  2023
1  Skilled A - (sk'A')  sqm  0.0006  2023
2  Skilled A - (sk'A')  sqm  0.0006  2023
3  Skilled A - (sk'A')   km  0.1000  2023
4  Skilled A - (sk'A')  day  1.0000  2023

There is a amount column also in RMMS template. Amount column came with the product of quantity and rate. following code create the new amount column also.

In [207]:
Amt_df = pd.DataFrame(assign)
Amt_df['Amt'] = Amt_df['rate'] * Amt_df['Qty']

print(Amt_df)

        Itmcd district     rate  ItmNo   GrpCd                   GrpCap  \
0      B0-001      101  2900.00     55   Ferry  Operation ferry service
1      B0-001      101  2900.00     73   SndSl             Sand sealing
2      B0-001      101  2900.00     74   ChpSl             Chip sealing
3      B0-001      101  2900.00     76    SfMl          Surface milling
4      B0-001      081  3100.00     55   Ferry  Operation ferry service
...       ...      ...      ...    ...     ...                      ...
1075  MS1-059      012   779.10     51  PntKrb           Painting kerbs
1076  MS1-059      041   680.90     51  PntKrb           Painting kerbs
1077  MS1-059      013   633.15     51  PntKrb           Painting kerbs
1078  MS1-059      082   750.70     51  PntKrb           Painting kerbs
1079  MS1-059      052   699.00     51  PntKrb           Painting kerbs

                                                ItmDesc  UOM     Qty  Year  \
0                                   Skilled A - (sk'A')  day  1.0000  2023
1                                   Skilled A - (sk'A')  sqm  0.0006  2023
2                                   Skilled A - (sk'A')  sqm  0.0006  2023
3                                   Skilled A - (sk'A')   km  0.1000  2023
4                                   Skilled A - (sk'A')  day  1.0000  2023
...                                                 ...  ...     ...   ...
1075  Painting two coats enamel paint on kerbs, afte...  sqm  1.0000  2023
1076  Painting two coats enamel paint on kerbs, afte...  sqm  1.0000  2023
1077  Painting two coats enamel paint on kerbs, afte...  sqm  1.0000  2023
1078  Painting two coats enamel paint on kerbs, afte...  sqm  1.0000  2023
1079  Painting two coats enamel paint on kerbs, afte...  sqm  1.0000  2023

          Amt
0     2900.00
1        1.74
2        1.74
3      290.00
4     3100.00
...       ...
1075   779.10
1076   680.90
1077   633.15
1078   750.70
1079   699.00

[1080 rows x 11 columns]

In [208]:
# Save the merged DataFrame to an output file
output_file = "output.csv"
Amt_df.to_csv(output_file, index=False)